# LaTeX intermediate files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex*
*.thm
*.toc
*.toe
*.xdv
/reference_papers/
/report.pdf
/tmp/
